img{
  height: 250px;
}

.App {
  text-align: center;
}

.navbar {
  font-size: 1.5rem;
}

.borders {
  border: 1px solid black;
}

.lead {
  padding-left: 100px;
}

.modal {
  display: block;
  top: 200px;
  text-align: center;
} 